/* Styles specific to contact.html (Contact Page) */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .contact {
    padding: 2rem;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 1.5rem;
  }
  
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .contact form button {
    padding: 0.8rem 1.5rem;
    background-color: #f04c5b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  