.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  animation: 0.5s linear alternate slide-in;
}
@keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
.hero-content img {
  border-radius: 50%;
  width: 150px;
  height: 150px;

}

.hero h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

.hero p {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #666;
  padding: 1rem;
  max-width: 400px;
}

.button {
  padding: 0.8rem 1.5rem;
  background-color: #f04c5b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
}


/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
} */
